
#game-header {
    text-align: center;
    font-family: 'Ceviche One', cursive;
}

h1 {
    font-size: 3em;
    opacity: 1;
}

.game-rules {
    text-align: center;
    width: 60%;
    padding: 3px;
    margin: auto;
}

p {
    color: #000000;
    font-family: 'Courgette', cursive;
}

.col-lg-2 {
    font-family: 'Ceviche One', cursive;
    font-size: 2em; 
}

.col-lg-1 {
    font-family: 'Ceviche One', cursive;
    font-size: 2em; 
}